/* ################################### */
/* ########### NEWS PAGE ############# */
/* ################################### */
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.container {
  margin-top: 20px;
}

.page {
  display: none;
}

.page-active {
  display: block;
}

/* Next & Previous buttons for pagination */
.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.pagination a {
  color: #96c7f5;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.index-photos {
  margin-top: 50px;
  padding: 10px;
}

.blog-post {
  display: flex;
}
/* ################################### */
/* ######## END OF NEWS PAGE ######### */
/* ################################### */

/* ################################### */
/* ############ GALLERY ############## */
/* ################################### */
* {
  box-sizing: border-box;
}

.gallery-row > .gallery-col {
  padding: 0 8px;
}

.gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-col {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.gallery-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.gallery-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1200px;
}

/* The Close Button */
.gallery-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.gallery-close:hover,
.gallery-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.gallery-slides {
  width: 100%;
  display: none;
}

.gallery-cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.gallery-prev,
.gallery-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.gallery-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gallery-prev:hover,
.gallery-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.gallery-number {
  background-color: #000000;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.gallery-img {
  padding: 10px;
  width: 100%;
  height: 500px;;
  object-fit: scale-down;
}

.gallery-img-thumbnail {
  margin: 10px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.gallery-demo {
  opacity: 0.6;
}

.gallery-active,
.gallery-demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ################################### */
/* ######### END OF GALLERY ########## */
/* ################################### */

/* Ryan's changes */

/* ################################### */
/* ############ MEMBERS ############## */
/* ################################### */
body.modal-open .modalcontent {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.modal-content {
  border-radius: 0px;
  border-color: white;
}

.modal-footer {
  background: black;
}

.modal-header {
  background: black;
}

.modal-title {
  color: white;
}

.passwordinput {
  width: 100%;
}

.belt {
  height: 40px;
  margin-bottom:4px;
  width: 100%;
  display: flex;
  text-align: right;
}

.belt > p {
  width: 100%;
  line-height: 1.2;
  color: #FAE43E;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  padding: 5px;
  margin-right: 50px;
  text-align: right;
}

.belt:hover {
  border: 3px solid orange;
  cursor: pointer;
}

#white {
  background: #EEF0F2;
}

#yellowtag {
  background: #EEF0F2;
}

#yellow {
  background: #FFE840;
}

#greentag {
  background: #FFE840;
}

#green {
  background: #11A84D;
}

#bluetag {
  background: #11A84D;
}

#blue {
  background: #0A30FF;
}

#redtag {
  background: #0A30FF;
}

#red {
  background: #FF0200;
}

#blacktag {
  background: #FF0200;
}

#black {
  background: #000000;
}

#belt1 {
  width: 90%;
  height: 100%;
}

#belt1a {
  width: 3%;
  height: 100%;
  background: #FFE840;
}

#belt1b {
  width: 3%;
  height: 100%;
  background: #11A84D;
}

#belt1c {
  width: 3%;
  height: 100%;
  background: #0A30FF;
}

#belt1d {
  width: 3%;
  height: 100%;
  background: #FF0200;
}

#belt1e {
  width: 3%;
  height: 100%;
  background: #000000;
}
