footer {
  z-index: 9999;
}

.aspect-ratio {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .hide-tablet {
    display: none;
  }
  .tablet-text {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
  .tablet-text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
/* ################################### */
/* ########### NEWS PAGE ############# */
/* ################################### */
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.container {
  margin-top: 20px;
}

.page {
  display: none;
}

.page-active {
  display: block;
}

/* Next & Previous buttons for pagination */
.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.pagination a {
  color: #96c7f5;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.index-photos {
  margin-top: 50px;
  padding: 10px;
}

.blog-post {
  display: flex;
}

table, th, td {
  border: 1px solid gray;
  padding-right: 10px;
  padding-left: 5px;
}
/* ################################### */
/* ######## END OF NEWS PAGE ######### */
/* ################################### */

/* ################################### */
/* ############ GALLERY ############## */
/* ################################### */
.Grid {
  width: 70%;
  margin: 5rem auto;
}
.Grid-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.Card {
  position: relative;
  flex: 0 1 15rem;
  background-color: #fff;
  padding-bottom: 5rem;
  transition: background-color 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
  color: #000;
}
.Card-thumb {
  position: relative;
  width: 15rem;
  height: 10rem;
  -webkit-perspective-origin: 50% 0%;
          perspective-origin: 50% 0%;
  -webkit-perspective: 600px;
          perspective: 600px;
  z-index: 1;
}
.Card-image,
.Card-shadow {
  position: absolute;
  display: block;
  width: 15rem;
  height: 10rem;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.Card-shadow {
  opacity: 0.8;
}
.Card-shadow:nth-child(1) {
  opacity: 0.6;
  background-color: #962da0;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.07s;
}
.Card-shadow:nth-child(2) {
  opacity: 0.7;
  background-color: #2f39c2;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.05s;
}
.Card-shadow:nth-child(3) {
  background-color: #6000fc;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.03s;
}
.Card-image {
  position: relative;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
}
.Card-image::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #006eff;
  content: '';
  opacity: 0;
  transition: opacity 0.1s;
}
.Card-title,
.Card-explore {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
}
.Card-title span,
.Card-explore span {
  padding: 0.5rem;
  flex: 1 1 auto;
  text-align: center;
}
.Card-explore {
  opacity: 0;
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #673ab7;
}
.Card-button {
  position: absolute;
  left: 50%;
  top: 5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 2rem;
  border: 2px solid #3f51b5;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  -webkit-transform: translate(-50%, 2rem);
          transform: translate(-50%, 2rem);
  cursor: pointer;
  transition: all 0.2s;
  opacity: 0;
  outline: none;
  z-index: 4;
}
.Card:hover,
.Card--active {
  background-color: #f5f5f5;
  cursor: pointer;
}
.Card:hover .Card-thumb,
.Card--active .Card-thumb {
  z-index: 3;
}
.Card:hover .Card-title,
.Card--active .Card-title {
  opacity: 0;
}
.Card:hover .Card-explore,
.Card--active .Card-explore {
  opacity: 1;
  -webkit-transform: translate(0, 1rem);
          transform: translate(0, 1rem);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}
.Card:hover .Card-image,
.Card--active .Card-image {
  -webkit-transform: scale(1.05) translate(0, -1rem) rotateX(25deg);
          transform: scale(1.05) translate(0, -1rem) rotateX(25deg);
}
.Card:hover .Card-image::before,
.Card--active .Card-image::before {
  opacity: 0.4;
}
.Card:hover .Card-shadow:nth-child(3),
.Card--active .Card-shadow:nth-child(3) {
  -webkit-transform: scale(1.02) translate(0, -0.3rem) rotateX(15deg);
          transform: scale(1.02) translate(0, -0.3rem) rotateX(15deg);
}
.Card:hover .Card-shadow:nth-child(2),
.Card--active .Card-shadow:nth-child(2) {
  -webkit-transform: scale(0.9) translate(0, 1rem) rotateX(15deg);
          transform: scale(0.9) translate(0, 1rem) rotateX(15deg);
}
.Card:hover .Card-shadow:nth-child(1),
.Card--active .Card-shadow:nth-child(1) {
  -webkit-transform: scale(0.82) translate(0, 2.4rem) rotateX(5deg);
          transform: scale(0.82) translate(0, 2.4rem) rotateX(5deg);
}
.Card:hover .Card-button,
.Card--active .Card-button {
  opacity: 1;
  color: #3f51b5;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.Card:hover .Card-button:hover,
.Card--active .Card-button:hover {
  color: #fff;
  background-color: #3f51b5;
}
.Card--active,
.Card--active:hover {
  background: none;
}
.Card--active .Card-explore,
.Card--active:hover .Card-explore {
  opacity: 0;
  -webkit-transform: translate(0, 3rem);
          transform: translate(0, 3rem);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.Card--active .Card-image,
.Card--active:hover .Card-image {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: scale(1.05) translate(0, -2.5rem) rotateX(50deg);
          transform: scale(1.05) translate(0, -2.5rem) rotateX(50deg);
}
.Card--active .Card-image::before,
.Card--active:hover .Card-image::before {
  opacity: 0.4;
}
.Card--active .Card-button,
.Card--active:hover .Card-button {
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: translate(-50%, -2rem) scale(1, 0.4);
          transform: translate(-50%, -2rem) scale(1, 0.4);
}
.Grid-row:nth-child(1) .Card:nth-child(1).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(1) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(6%, 113%);
          transform: scale(1) translate(6%, 113%);
}
.Grid-row:nth-child(1) .Card:nth-child(1).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(1) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(6%, 223%);
          transform: scale(1) translate(6%, 223%);
}
.Grid-row:nth-child(1) .Card:nth-child(1).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(1) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(81%, 80%);
          transform: scale(2.1) translate(81%, 80%);
}
.Grid-row:nth-child(1) .Card:nth-child(2).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(1) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(-108%, 113%);
          transform: scale(1) translate(-108%, 113%);
}
.Grid-row:nth-child(1) .Card:nth-child(2).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(1) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(-108%, 223%);
          transform: scale(1) translate(-108%, 223%);
}
.Grid-row:nth-child(1) .Card:nth-child(2).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(1) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(26%, 80%);
          transform: scale(2.1) translate(26%, 80%);
}
.Grid-row:nth-child(1) .Card:nth-child(3).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(1) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(-222%, 113%);
          transform: scale(1) translate(-222%, 113%);
}
.Grid-row:nth-child(1) .Card:nth-child(3).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(1) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(-222%, 223%);
          transform: scale(1) translate(-222%, 223%);
}
.Grid-row:nth-child(1) .Card:nth-child(3).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(1) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(-29%, 80%);
          transform: scale(2.1) translate(-29%, 80%);
}
.Grid-row:nth-child(2) .Card:nth-child(1).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(2) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(6%, -55%);
          transform: scale(1) translate(6%, -55%);
}
.Grid-row:nth-child(2) .Card:nth-child(1).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(2) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(6%, 55%);
          transform: scale(1) translate(6%, 55%);
}
.Grid-row:nth-child(2) .Card:nth-child(1).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(2) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(81%, 0%);
          transform: scale(2.1) translate(81%, 0%);
}
.Grid-row:nth-child(2) .Card:nth-child(2).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(2) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(-108%, -55%);
          transform: scale(1) translate(-108%, -55%);
}
.Grid-row:nth-child(2) .Card:nth-child(2).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(2) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(-108%, 55%);
          transform: scale(1) translate(-108%, 55%);
}
.Grid-row:nth-child(2) .Card:nth-child(2).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(2) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(26%, 0%);
          transform: scale(2.1) translate(26%, 0%);
}
.Grid-row:nth-child(2) .Card:nth-child(3).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(2) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(-222%, -55%);
          transform: scale(1) translate(-222%, -55%);
}
.Grid-row:nth-child(2) .Card:nth-child(3).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(2) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(-222%, 55%);
          transform: scale(1) translate(-222%, 55%);
}
.Grid-row:nth-child(2) .Card:nth-child(3).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(2) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(-29%, 0%);
          transform: scale(2.1) translate(-29%, 0%);
}
.Grid-row:nth-child(3) .Card:nth-child(1).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(3) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(6%, -223%);
          transform: scale(1) translate(6%, -223%);
}
.Grid-row:nth-child(3) .Card:nth-child(1).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(3) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(6%, -113%);
          transform: scale(1) translate(6%, -113%);
}
.Grid-row:nth-child(3) .Card:nth-child(1).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(3) .Card:nth-child(1) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(81%, -80%);
          transform: scale(2.1) translate(81%, -80%);
}
.Grid-row:nth-child(3) .Card:nth-child(2).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(3) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(-108%, -223%);
          transform: scale(1) translate(-108%, -223%);
}
.Grid-row:nth-child(3) .Card:nth-child(2).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(3) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(-108%, -113%);
          transform: scale(1) translate(-108%, -113%);
}
.Grid-row:nth-child(3) .Card:nth-child(2).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(3) .Card:nth-child(2) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(26%, -80%);
          transform: scale(2.1) translate(26%, -80%);
}
.Grid-row:nth-child(3) .Card:nth-child(3).Card--active .Card-shadow:nth-child(3),
.Grid-row:nth-child(3) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  -webkit-transform: scale(1) translate(-222%, -223%);
          transform: scale(1) translate(-222%, -223%);
}
.Grid-row:nth-child(3) .Card:nth-child(3).Card--active .Card-shadow:nth-child(2),
.Grid-row:nth-child(3) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  -webkit-transform: scale(1) translate(-222%, -113%);
          transform: scale(1) translate(-222%, -113%);
}
.Grid-row:nth-child(3) .Card:nth-child(3).Card--active .Card-shadow:nth-child(1),
.Grid-row:nth-child(3) .Card:nth-child(3) .Card--active:hover .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  -webkit-transform: scale(2.1) translate(-29%, -80%);
          transform: scale(2.1) translate(-29%, -80%);
}
.Gallery {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f5f5f5;
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  transition: none;
  padding: 10rem 0;
  overflow-y: scroll;
}
.Gallery-close {
  position: absolute;
  right: 3rem;
  top: 1rem;
  font-size: 3rem;
  opacity: 0.5;
  cursor: pointer;
}
.Gallery-close:hover {
  opacity: 0.8;
}
.Gallery-images {
  display: flex;
  width: 47rem;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.Gallery-images:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.33s;
  opacity: 0;
  -webkit-transform: translate(0, 3rem) scale(1.1);
          transform: translate(0, 3rem) scale(1.1);
}
.Gallery-images:nth-child(4) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.44s;
  opacity: 0;
  -webkit-transform: translate(0, 3rem) scale(1.1);
          transform: translate(0, 3rem) scale(1.1);
}
.Gallery-images:nth-child(5) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.55s;
  opacity: 0;
  -webkit-transform: translate(0, 3rem) scale(1.1);
          transform: translate(0, 3rem) scale(1.1);
}
.Gallery-images:nth-child(6) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.66s;
  opacity: 0;
  -webkit-transform: translate(0, 3rem) scale(1.1);
          transform: translate(0, 3rem) scale(1.1);
}
.Gallery-left {
  flex: 1 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.Gallery-image {
  display: block;
  width: 15rem;
  height: 9.5rem;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  background: #aebfc7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Gallery-image--primary {
  width: 31rem;
  height: 20rem;
  background-color: #673ab7;
}
.Gallery--active {
  z-index: 100;
  background: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
}
.Gallery--active .Gallery-close {
  display: block;
}
.Gallery--active .Gallery-images {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
#navbar-banner {
  display: block;
}
#gallery-header {
  display: block;
}
@media (max-width: 740px) {
  .Gallery-images {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .Gallery-image {
    width: 100%;
    height: 30rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .Gallery-images {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .Gallery-image {
    width: 100%;
    height: 15rem;
    margin-bottom: 10px;
  }
}

/* ################################### */
/* ######### END OF GALLERY ########## */
/* ################################### */

/* Ryan's changes */

/* ################################### */
/* ############ MEMBERS ############## */
/* ################################### */
body.modal-open .modalcontent {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.modal-content {
  border-color: white;
}

.modal-footer {
  background: black;
}

.modal-header {
  background: black;
}

.modal-title {
  font-size: larger;
  color: white;
}

.login {
  width: 100%;
}

.belt {
  height: 40px;
  margin-bottom:4px;
  width: 100%;
  display: flex;
  text-align: right;
}

.belt > p {
  width: 100%;
  line-height: 1.2;
  color: #FAE43E;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  padding: 5px;
  margin-right: 50px;
  text-align: right;
}

/* ################################### */
/* ############### QUIZ ############## */
/* ################################### */

.quiz-container {
  background: black;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

.quiz-card {
  margin-top: 8%;
  width: 45%;
  height: 80%;
}

.quiz-header {
  color: white;
  text-decoration: underline;
}

.quiz-right-top {
  color: white;
  margin-right: 10%;
}

.quiz-right-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
}

.quiz-right-bottom table {
  width: 90%;
  justify-content: center;
  margin-bottom: 5%;
  font-family: 'Press Start 2P';
  font-size: 16px;
  text-align: center;
  color: white;
  border-style: hidden;
}

.quiz-right-bottom th {
  border: none;
  color: orange;
  text-align: center;
}

.quiz-right-bottom td {
    border: none;
    border-bottom: solid .2px DimGray;
}


.quiz-right-bottom-box {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
}

.quiz-right-bottom-box-inner {
  position: absolute;
  border: 1px solid white;
  width: 90%;
  height: 90%;
}

.quiz-right-bottom-box-inner:hover {
  position: absolute;
  border: 1px solid white;
  width: 95%;
  height: 95%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.beltDone {
  opacity: 0.3;
}

#white {
  background: #EEF0F2;
}

#yellow-tag {
  background: linear-gradient(
  to bottom,
  #EEF0F2,
  #EEF0F2 70%,
  #FFE840 20%,
  #FFE840
);
background-size: 100% 100%;
}

#yellow {
  background: #FFE840;
}

#green-tag {
  background: linear-gradient(
  to bottom,
  #FFE840,
  #FFE840 70%,
  #11A84D 20%,
  #11A84D
);
background-size: 100% 100%;
}

#green {
  background: #11A84D;
}

#blue-tag {
  background: linear-gradient(
  to bottom,
  #11A84D,
  #11A84D 70%,
  #0A30FF 20%,
  #0A30FF
);
background-size: 100% 100%;
}

#blue {
  background: #0A30FF;
}

#red-tag {
  background: linear-gradient(
  to bottom,
  #0A30FF,
  #0A30FF 70%,
  #FF0200 20%,
  #FF0200
);
background-size: 100% 100%;
}

#red {
  background: #FF0200;
}

#black-tag {
  background: linear-gradient(
  to bottom,
  #FF0200,
  #FF0200 70%,
  #000000 20%,
  #000000
);
background-size: 100% 100%;
}

#black1 {
  opacity: 0.3;
  background: #000000;
}

#black1 > p {
  color: #FFE840;
  font-size: 4em;
  font-family: 'Times New Roman';
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#black2 {
  opacity: 0.3;
  background: #000000;
}

#black2 > p {
  color: #FFE840;
  font-size: 4em;
    font-family: 'Times New Roman';
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.quiz-left-top {
  color: white;
  margin-left: 10%;
  height: 82%;
}

.quiz-left-bottom {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  justify-content: left;
}

.lives {
  margin-top: 15px;
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  color: orange;
  font-weight: bold;
}

.quiz-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
  min-height: 80px;
  border: 1px solid white;
  text-align: center;
  padding: 2px 8px;
  color: white;
}

.quiz-small {
  height: 40px;
}

.quiz-button:hover {
  color: orange;
  border: 1px solid orange;
  cursor: pointer;
}

.quiz-button-nohov {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
  min-height: 80px;
  border: 1px solid white;
  text-align: center;
  color: white;
}

.next {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
  height: 40px;
  border: 1px solid white;
  text-align: center;
  color: white;
}

.next:hover {
  color: orange;
  border: 1px solid orange;
  cursor: pointer;
}

.instructors > h1 {
  font-size: 2.4em;
  color: white;
}

.instructors > h2 {
  font-size: 5.4em;
  color: white;
  line-height: 80%;
  margin-top: -20px;
}

.belt:hover {
  border: 3px solid orange;
  cursor: pointer;
}

#scoreButton {
  background: #000;
  color: white;
  border: 1px solid white
}

.enterScore {
  color: white;
}

#scoreInput {
  width: 28%;
  background: #000;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  color: white;
  border: 1px solid white;
  margin: 10px 0px 20px 0px;
}

@media only screen and (max-width: 1053px) {
  .quiz-card {
    margin-top: 12%;
  }
}

@media only screen and (max-width: 950px) {
  .quiz-container {
    background: black;
    display: block;
    justify-content: space-evenly;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: inherit;
  }
  .quiz-card {
    margin-top: 12%;
    width: 100%;
    height: inherit;
  }
}

@media only screen and (max-width: 750px) {
  .instructors > h1 {
    display: none;
  }
  
  .instructors > h2 {
    font-size: 3.4em;
    color: white;
    line-height: 80%;
    margin-bottom: -20px;
  }

  .quiz-left-top {
    height: 50%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .quiz-left-bottom {
    margin-right: 5%;
    margin-left: 5%;
  }

  .quiz-right-top {
    margin-right: 5%;
    margin-left: 5%;
  }

  .quiz-right-bottom {
    margin-right: 5%;
    margin-left: 5%;
  }

  .quiz-container {
    text-align: center;
    background: black;
    display: block;
    justify-content: space-evenly;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: inherit;
  }
  .quiz-card {
    margin-top: 6%;
    width: 100%;
    height: inherit;
  }

  .quiz-button, .quiz-button-nohov, .next  {
    width: 100%;
  }
  .lives {
    margin-top: 120px;
    font-size: 2em;
  }

  .quiz-button, .quiz-button-nohov{
    margin-bottom: 10px;
    min-height: 60px;
  }

  #score {
    justify-content: center;
    margin-top: 20px;
  }

  .quiz-right-bottom table {
    width: 100%;
  }
}

/* ####################################### */
/* ############ END OF QUIZ ############## */
/* ####################################### */

  .quiz-banner {
    margin-top: 10px;
    text-align: center;
    font-size: 4vw;
    width: 100%;
    height: 54px;
    background: white;
    border: 5px dashed #F37E2F;
    font-weight: bold;
    color: #F37E2F;
  }

  .quiz-banner-inside > a{
    color: #F37E2F;
  }

/* Danielle's changes  */

/* ############################# */
/* ######## COLLAPSIBLE ######## */
/* ############################# */
.collapse-panel .panel-default > .panel-heading {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
	.collapse-panel {
    max-width: 100%;
  }
  .panel-default {
    max-width: 100%;
  }
}
@media only screen and (max-width: 992px) {
	.collapse-panel {
    max-width: 100%;
  }
  .panel-default {
    max-width: 100%;
  }
}

.panel-heading a {
  padding: 18px;
  width: 100%;
  display: block;
  position: relative;
  color: rgb(0, 0, 0);
  text-align: left;
}
.white a {
  background-color: #EEF0F2;
}
.yellow a {
  background-color: #FFE840;
}
.green a {
  background-color: #11A84D;
}
.blue a {
  background-color: #0A30FF;
  color: #fff;
}
.red a {
  background-color: #FF0200;
  color: #fff;
}
.black a {
  background-color: #000;
  color: #fff;
}
@media only screen and (max-width: 768px) {
	.panel-heading {
    max-width: 100%;
	}
}
@media only screen and (max-width: 992px) {
	.panel-heading {
    max-width: 100%;
	}
}

.panel {
  border: none;
  width: 100%;
}

@media only screen and (max-width: 768px) {
	.panel {
    max-width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	.panel {
    max-width: 100%;
	}
}

.panel-heading a:after {
  content: "\2501";
  position: absolute;
  right: 20px;
}

.yellow-tag {
  float: right;
  margin-right: 40px;
  margin-top: -18px;
  width: 5%;
  height: 55px;
  background-color: #FFE840;
}
.green-tag {
  float: right;
  margin-right: 40px;
  margin-top: -18px;
  width: 5%;
  height: 55px;
  background-color: #11A84D;
}
.blue-tag {
  float: right;
  margin-right: 40px;
  margin-top: -18px;
  width: 5%;
  height: 55px;
  background-color: #0A30FF;
}
.red-tag {
  float: right;
  margin-right: 40px;
  margin-top: -18px;
  width: 5%;
  height: 55px;
  background-color: #FF0200;
}
.black-tag {
  float: right;
  margin-right: 40px;
  margin-top: -18px;
  width: 5%;
  height: 55px;
  background-color: #000;
}
.dans {
  float: right;
  margin-right: 40px;
  margin-top: -16px;
  text-align: center;
  width: 6%;
  height: 55px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 42px;
  color: #FFE840;
}

.panel-heading a.collapsed:after {
  content: "\254b";
}

.white a.collapsed {
  background: #EEF0F2;
  color: #000;
}
.yellow a.collapsed {
  background: #FFE840;
  color: #000;
}
.green a.collapsed {
  background: #11A84D;
  color: #000;
}
.blue a.collapsed {
  background: #0A30FF;
  color: #fff;
}
.red a.collapsed {
  background: #FF0200;
  color: #fff;
}
.black a.collapsed {
  background: #000;
  color: #fff;
}

.panel-body {
  padding: 1em;
  background-color: #fff;
  text-align: left;
  width: 100%;
  border: none;
}
@media only screen and (max-width: 768px) {
	.panel-body {
    max-width: 100%;
	}
}
@media only screen and (max-width: 992px) {
	.panel-body {
    max-width: 100%;
	}
}

.panel-body h5 {
  font-size: 18px;
  font-weight: 900;
}
/* ################################ */
/* ###### END OF COLLAPSIBLE ###### */
/* ################################ */

/* ################################ */
/* ######### VIDEO MODALS ######### */
/* ################################ */
.modal-open {
  width: 100%;
}
.modal-close {
  position: fixed;
  right: 10px;
  top: 10px;
  color: #2C3E50;
}
.caption {
  padding: 10px 20px;
  text-align: left;
}
.caption h5 {
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 5px;
}
.theory-modal-body {
  text-align: center;
  background-color: #fff;
}
.modal-text-cursor {
  cursor: pointer;
}
.video-container {
  width: 100%;
  display: inline-block;
}
.patterns-video {
  width: 100%;
  height: 100%;
}
.english, .korean {
  cursor: pointer;
}

/* ####################################### */
/* ######### END OF VIDEO MODALS ######### */
/* ####################################### */

/* ######################################## */
/* ######### COLOUR CODING THEORY ######### */
/* ######################################## */
.stance:hover, .stance:hover ~ .stance {
  background-color: red;
  color: white;
}
.section:hover, .section:hover ~ .section {
  background-color: blue;
  color: white;
}
.technique:hover, .technique:hover ~ .technique {
  background-color: orange;
  color: white;
}
.direction:hover, .direction:hover ~ .direction {
  background-color: orangered;
  color: white;
}
.tool:hover, .tool:hover ~ .tool {
  background-color: greenyellow;
  color: black;
}
.movement:hover, .movement:hover ~ .movement {
  background-color: hotpink;
  color: white;
}
.number:hover, .number:hover ~ .number {
  background-color: green;
  color: white;
}
/* ######################################## */
/* ##### END OF COLOUR CODING THEORY ###### */
/* ######################################## */

/* ######################################## */
/* ########## RESOURCE DOWNLOADS ########## */
/* ######################################## */
.item a:hover {
  text-decoration: underline;
}
/* ######################################## */
/* ###### END OF RESOURCE DOWNLOADS ####### */
/* ######################################## */

/* ######################################## */
/* ############# ABOUT US PAGE ############ */
/* ######################################## */
.offset { 
  padding-top: 150px;
}
.about_covid-banner {
  background-color: #96c7f5;
  max-width: 100vw;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  color: black;
  margin-top: 50px;
  padding: 0 2em;
}
.about_covid-banner-link {
  color: black;
  text-decoration: underline;
}
.about_covid-banner-link:hover {
  color: rgb(83, 80, 80);
  text-decoration: underline;
}
/* ######################################## */
/* ######### END OF ABOUT US PAGE ######### */
/* ######################################## */

/* ######################################## */
/* ########## NOTICE MODAL STUFF  ########## */
/* ######################################## */
#staticBackdrop {
  border-radius: 0px;
}
/* ######################################## */
/* ########## END OF NOTICE MODAL ########## */
/* ######################################## */

/* ################################### */
/* ############ FLASHCARDS ########### */
/* ################################### */

.fc-container {
  background: black;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
}

.fc-header {
  display: flex;
  color: white;
  margin-top: 8%;
  height: 90px;
  width: 100%;
  background: green;
}

.fc-difficulty {
  display: flex;
  width: 15%;
  background: red;
  border: white solid 1px;
}

.fc-title {
  width:40%;
}

.fc-cards {
}

.fc-card {
  display: flex;
  display: flex;
  width:18%;
  height: 100px;
  background: pink;
}

/* ################################### */
/* ######## END OF FLASHCARDS ######## */
/* ################################### */
